.our-team{
    .our-team-content {
        .team-img{
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            img {
                border-radius: 10px;
                filter: grayscale(1);
                transition: all .4s ease-in-out;
                transform: scale(1);
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: linear-gradient( rgba(var(--white), 0), rgba(var(--black) , 1));
                opacity: 0;
                transition: all .4s ease-in-out;
               .dark & {
                    background-image: linear-gradient(rgba(var(--white), 0) ,rgba(var( --light-white), 1));
                }
            }
            .social-group {
                position: absolute;
                bottom: -40px;
                left: 50%;
                width: max-content;
                transform: translateX(-50%);
                margin-top: 10px;
                z-index: 1;
                opacity: 0;
                transition: all .4s ease-in-out;
                li {
                    margin:  0 4px;
                    >a {
                        height: 38px;
                        width: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgba(var(-theme-default), 1);
                        background-color: rgba(var(--theme-default), 1);
                        border-radius: $radius-4;
                        transition: all .4s ease-in-out;
                        i {
                            color: rgba(var(--white), 1);
                            transition: all .4s ease-in-out;
                            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                        }
                    }
                    &:hover {
                        >a {
                            background-color: rgba(var(--theme-default), 1);
                            border-color: transparent;
                            box-shadow: 0px 0px 8px 0px rgba(var(--theme-default), 1);
                            i {
                                color: rgba(var(--white), 1);
                            }
                        }
                    }
                }
            }
        }
        .team-content  {
            text-align: center;
            margin-top: 20px;
            
        }
        &:hover {
            .team-img {
                img {
                    filter: grayscale(0);
                    transform: scale(1.1);
                }
                &::after {
                    opacity: 1;
                }
                .social-group{
                    bottom: 20px;
                    opacity: 1;
                }
            }
        }
    }
}
.fashion-box-1 {
    margin-bottom: 50px;
    @media (max-width: 991px) {
        margin-bottom: 30px;
    }
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
    p {
        @media (max-width: 1400px) {
            @include text-ellipsis ( $line: 3,);
        }
        @media (max-width: 991px) and (min-width: 767px) {
            @include text-ellipsis ( $line: 2,);
        }
    }
    a {
        margin: 20px 0;
        width: 100%;
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--theme-default), 1);
        font-weight: 500;
        @media (max-width: 991px) {
            margin: 10px 0;
        }
    }
    img {
        border-radius: 10px;
        box-shadow:  0px 8px 24px rgba(var(--black) , 0.2);
    }
}
.about-img {
    border-radius: 10px;
    position: relative;
    margin-right: 20px;
    @media (max-width: 991px) {
        margin-right: 0;
    }
    [dir="rtl"] & {
        margin-left: 20px;
        margin-right: unset;
        @media (max-width: 991px) {
            margin-left: 0;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-image: linear-gradient(rgba(var(--white), 0) ,rgba(var(--black), 0.7));
       .dark & {
            background-image: linear-gradient(rgba(var(--white), 0) ,rgba(var( --light-white), 1));
        }
    }
    img {
        box-shadow:  0px 0px 8px rgba(var(--black) , 0.1);
    }
    .about-tag  {
        position: absolute;
        top: 50%;
        right: -6%;
        transform: translateY(-50%);
        height: 100px;
        width: 100px;
        border-radius: 50%;
        z-index: 1;
        background-color: rgba(var(--theme-default), 1);
        display: flex;
        align-items: center;
        box-shadow:  0px 8px 24px rgba(var(--black) , 0.2);
        justify-content: center;
        [dir="rtl"] & {
            left: -6%;
            right: unset;
            @media (max-width: 991px) {
                bottom: 4%;
                top: unset;
                left: unset;
                right: 3%;
                transform: unset;
            }
        }
        @media (max-width: 1400px) {
            height: 75px;
            width: 75px;
        }
        @media (max-width: 1400px) {
            height: 65px;
            width: 65px;
        }
        @media (max-width: 991px) {
            bottom: 4%;
            top: unset;
            right: unset;
            left: 3%;
            transform: unset;
        }
        a {
            text-align: center;
            h5 {
                margin-bottom: 0;
                color: rgba(var(--white), 1);
                margin-top: 12px;
                @media (max-width: 1400px) {
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
            i {
                color: rgba(var(--white), 1);
                transform: rotate(-45deg);
                font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                margin-top: 4px;
            }
        }
    }
}
.about-content {
    margin-left: 30px;
    [dir="rtl"] & {
        margin-left: unset;
        margin-right: 30px;
        @media (max-width: 991px) {
            margin-right: 0;
        }
    }
    @media (max-width: 991px) {
        margin-left: 0;
    }
    .sidebar-title{
        .loader-line{
            top: 40px;
        }
    }
    ul {
        margin-top: 20px;
        li {
            display: flex;
            align-items: start;
            gap: 15px;
            padding: 8px 0;
            &:last-child{
                padding-bottom: 0;
            }
            .iconsax {
                --Iconsax-Size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
                --Iconsax-Color: rgba(var(--theme-default), 0.8);
            }
            div {
                width: calc(100% - 36px - 15px);
                h6 {
                    margin-bottom: 4px;
                    font-weight: 500;
                }
            }
        }
    }

    p {
        @media (max-width: 1400px) {
            @include text-ellipsis ( $line: 3,);
        }
        @media (max-width: 1199px) {
            @include text-ellipsis ( $line: 2,);
        }
    }
}
.about-img-1 {
    margin-left: 20px;
    margin-right: 0;
    @media (max-width: 991px) {
        margin-left: 0;
    }
    [dir="rtl"] & {
        margin-left: unset;
        margin-right: 20px;
        @media (max-width: 991px) {
            margin-right: 0;
        }
    }
    .about-tag{
        right: unset;
        left: -6%;
        [dir="rtl"] & {
            right: -6%;
            left: unset;
            @media (max-width: 991px) {
                right: 3%;
                left: unset;
            }
        }
        @media (max-width: 991px) {
            left: 3%;
        }
        a {
            i {
                transform: rotate(-145deg);
            }
        }
    }
}
.about-content-1 {
    margin-right: 30px;
    margin-left: 0;
    @media (max-width: 991px) {
        margin-right: 0;
    }
    [dir="rtl"] & {
        margin-left: 30px;
        margin-right: unset;
        @media (max-width: 991px) {
            margin-left: 0;
        }
    }
}
.about-icon {
    background-color: rgba(var(--light-white), 1);
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    .iconsax {
        --Iconsax-Size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
        --Iconsax-Color: rgba(var(--theme-default), 1);
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 50%;
        background-color: rgba(var(--theme-default) , 0.1);
    }
    p {
        @media (max-width: 1400px) {
            @include text-ellipsis ( $line: 3,);
        }
        @media (max-width: 1200px) and (min-width: 767px) {
            @include text-ellipsis ( $line: 2,);
        }
    }
}
.testimonials-box {
    padding: 30px;
    background-color: rgba(var(--box-background) , 1);
    border-radius: 10px;
    @media (max-width: 480px) {
        padding: 10px;
    }
    .customer-item {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        justify-content: center;
        i {
            font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--theme-default), 0.2);
        }
    }
    .customer-img{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 20px;
        img {
            width: 80px;
            border-radius: 50%;
            padding: 4px;
            border: 1px solid rgba(var(--dark-color) , 0.2);
        }
        div {
            width: 100%;
            h5 {
                span {
                    float: right;
                }
            }
        }
    }
}
.fashion-girl{
    @media (max-width: 767px) {
        padding-bottom: 30px !important;
    }
}
.fashion-item{
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}