
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/tap_top
    include ../../components/cursor
    //------ Header -------//
    header 
        .top_header 
            p Free Coupe Code: Summer Sale On Selected items Use:
                span NEW 26
                a(href="collection-left-sidebar.html")  SHOP NOW
        .custom-container.container.header-1
            .row 
                .col-12.p-0 
                    .mobile-fix-option
                        ul
                            li 
                                a(href="index.html")
                                    i.iconsax(data-icon="home-1")
                                    | Home
                            li
                                a(href="search.html")
                                    i.iconsax(data-icon="search-normal-2")
                                    | Search

                            li.shopping-cart  
                                a(href="cart.html")
                                    i.iconsax(data-icon="shopping-cart")
                                    | Cart
                            li
                                a(href="wishlist.html")
                                    i.iconsax(data-icon="heart")
                                    | My Wish
                            li 
                                a(href="dashboard.html")
                                    i.iconsax(data-icon="user-2")
                                    | Account

                    #staticBackdrop.offcanvas.offcanvas-start(data-bs-backdrop='static' tabindex='-1' aria-labelledby='staticBackdropLabel')
                        .offcanvas-header
                            h3#staticBackdropLabel.offcanvas-title Offcanvas
                            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                        .offcanvas-body
                            div
                            | I will not close if you click outside of me.
                .col-12
                    .main-menu 
                        a.brand-logo(href="index.html") 
                            img.img-fluid.for-light(src="../assets/images/logo/logo.png", alt="logo")
                            img.img-fluid.for-dark(src="../assets/images/logo/logo-white-1.png", alt="logo")
                        nav#main-nav
                            ul#sm-horizontal.nav-menu.sm-horizontal.theme-scrollbar
                                li#mobile-back.mobile-back
                                    | Back
                                    i.fa-solid.fa-angle-right.ps-2(aria-hidden='true')
                                li 
                                    a.nav-link(href="#") Home 
                                        span 
                                            i.fa-solid.fa-angle-down
                                    .mega-menu
                                        .row.gy-3 
                                            .col-xl-3
                                                a(href="index.html" target="_blank").layout-images
                                                    .layout-box.img-1 
                                                    h5 Layout 1
                                            .col-xl-3 
                                                a(href="layout-2.html" target="_blank").layout-images
                                                    .layout-box.img-2
                                                    h5 Layout 2
                                            .col-xl-3
                                                a(href="layout-3.html" target="_blank").layout-images
                                                    .layout-box.img-3
                                                    h5 Layout 3
                                            .col-xl-3  
                                                a(href="layout-4.html" target="_blank").layout-images
                                                    .layout-box.img-4
                                                    h5 Layout 4
                                li 
                                    a.nav-link(href="#") Shop
                                        span 
                                            i.fa-solid.fa-angle-down
                                    ul.nav-submenu
                                        li 
                                            a(href="collection-left-sidebar.html") Collection Left Sidebar
                                        li 
                                            a(href="collection-right-sidebar.html") Collection Right Sidebar
                                        li 
                                            a(href="collection-no-sidebar.html") Collection No Sidebar
                                        li 
                                            a(href="collection-3-grid.html") Collection 3 Grid
                                        li 
                                            a(href="collection-4-grid.html") Collection 4 Grid
                                        li 
                                            a(href="collection-list-view.html") Collection List View 
                                                span.badge-sm.theme-default new
                                        li 
                                            a(href="collection-slider.html") Collection Slider
                                        li 
                                            a(href="offcanvas-filter.html") Offcanvas Filter 
                                        li 
                                            a(href="load-more.html") Load More
                                                span.badge-sm.danger-color.animated Hot
                                li 
                                    a.nav-link(href="#") Product 
                                        span 
                                            i.fa-solid.fa-angle-down
                                    .mega-menu.p-0.overflow-hidden
                                        .row
                                            .col-xl-4
                                                ul.p-2 
                                                    li 
                                                        a(href="product.html") Product
                                                    li 
                                                        a(href="product-sticky.html") Product Sticky
                                                    li 
                                                        a(href="product-four-image.html") Product image
                                                    li 
                                                        a(href="product-bottom.html") Product Bottom
                                                    li 
                                                        a(href="product-video.html") Product Video
                                                            span.badge-sm.theme-default new
                                                    li 
                                                        a(href="product-accordion.html") Product Accordion
                                                    li 
                                                        a(href="product-sold-out.html") Product Sold Out 
                                                            span.badge-sm.danger-color.animated Hot
                                                    li 
                                                        a(href="without-thumbnail.html") Without Thumbnail 
                                            .col-xl-4
                                                ul.p-2
                                                    li 
                                                        a(href="product-bundle.html") Bundle (Cross Sale) 
                                                            span.badge-sm.danger-color.animated Hot
                                                    li 
                                                        a(href="variant-rectangle.html") Variant Rectangle  
                                                    li 
                                                        a(href="variant-images.html")  Variant Image Swatch 
                                                            span.badge-sm.theme-default new
                                                    li 
                                                        a(href="variant-color.html") Variant Color
                                                    li 
                                                        a(href="variant-radio.html") Variant Radio
                                                    li 
                                                        a(href="variant-dropdown.html") Variant Dropdown 
                                                    li 
                                                        a(href="inner-zoom.html") Inner Zoom Images 
                                                            span.badge-sm.danger-color.animated Hot
                                            .col-xl-4.d-none.d-xl-block.px-0
                                                .menu-banner    
                                                    img.w-100.img-fluid(src="../assets/images/mega-menu/banner.png", alt="")
                                li 
                                    a.nav-link(href="#") FashiOffers 
                                        span 
                                            i.fa-solid.fa-angle-down
                                        p.lable-nav Hot
                                    .mega-menu.p-0.overflow-hidden
                                        .row.gy-4.align-items-center
                                            .col-xl-5
                                                .mega-img
                                                    .img-1
                                                        img.img-fluid(src="../assets/images/mega-menu/5.jpg", alt="")  
                                                    .img-1
                                                        img.img-fluid(src="../assets/images/mega-menu/6.jpg", alt="")
                                            .col-xl-2.px-0
                                                ul
                                                    li 
                                                        a(href="../email-template/welcome.html") Welcome Template
                                                            span.badge-sm.danger-color.animated Hot
                                                    li 
                                                        a(href="../email-template/order-success.html") Order Success
                                                    li 
                                                        a(href="../email-template/reset-password.html") Reset Password
                                                    li 
                                                        a(href="../invoice/invoice-1.html") Invoice 1
                                                    li 
                                                        a(href="../invoice/invoice-2.html") Invoice 2
                                                    li 
                                                        a(href="../invoice/invoice-3.html") Invoice 3
                                            .col-xl-5
                                                img.img-fluid(src="../assets/images/mega-menu/1.png", alt="")
                                li 
                                    a.nav-link(href="#") Page  
                                        span 
                                            i.fa-solid.fa-angle-down
                                    ul.nav-submenu
                                        
                                        li 
                                            a(href="search.html") Search
                                        li 
                                            a(href="wishlist.html") Wishlist
                                        li 
                                            a(href="faq.html") Faq
                                        li 
                                            a(href="dashboard.html") My Dashboard 
                                                span.badge-sm.theme-default new
                                        li 
                                            a(href="order-success.html") Order Success
                                        li 
                                            a(href="order-tracking.html") Order Tracking
                                        li 
                                            a(href="maintenance.html") Maintenance
                                                span.badge-sm.danger-color.animated Hot
                                        li 
                                            a(href="check-out.html") Check Out
                                        li 
                                            a(href="compare.html") Compare
                                        li 
                                            a(href="about-us.html") About Us
                                        li 
                                            a(href="look-book.html") Look Book 
                                                span.badge-sm.theme-default new
                                        li 
                                            a(href="404.html") 404 
                                        li 
                                            a(href="cart.html") cart 
                                        li 
                                            a(href="login.html")  Login 
                                                span.badge-sm.danger-color.animated Hot 
                                        li 
                                            a(href="forget-password.html")  Forgot Password 
                                        li 
                                            a(href="otp.html")  otp 
                                        li 
                                            a(href="sign-up.html")  Sign Up 
                                li 
                                    a.nav-link(href="#") Blog
                                        span 
                                            i.fa-solid.fa-angle-down
                                    ul.nav-submenu
                                        li 
                                            a(href="blog-left-sidebar.html") Blog Left Sidebar 
                                        li 
                                            a(href="blog-right-sidebar.html") Blog Right Sidebar 
                                        li 
                                            a(href="blog-list.html") Blog List
                                        li 
                                            a(href="blog-details.html") Blog Details
                                        li 
                                            a(href="blog-no-sidebar.html") Blog No Sidebar
                                li 
                                    a.nav-link(href="contact.html") Contact 
                        .sub_header
                            #toggle-nav.toggle-nav
                                i.fa-solid.fa-bars-staggered.sidebar-bar
                            ul.justify-content-end
                                li 
                                    button(href="#" data-bs-toggle='offcanvas' data-bs-target='#offcanvasTop' aria-controls='offcanvasTop')
                                        i.iconsax(data-icon="search-normal-2")
    
                                li 
                                    a(href="wishlist.html")
                                        i.iconsax(data-icon="heart")
                                        span.cart_qty_cls 2
                                li.onhover-div
                                    a(href="#")
                                        i.iconsax(data-icon="user-2")
                                    .onhover-show-div.user  
                                        ul 
                                            li 
                                                a(href="login.html") Login 
                                            li 
                                                a(href="sign-up.html") Register
                                li.onhover-div.shopping-cart  
                                    a.p-0(href="#" data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight')
                                        .shoping-prize
                                            i.iconsax.pe-2(data-icon="basket-2") 
                                            | 0 items
    
    //------- Header Breadcrumb -------//
    section.section-b-space.pt-0 
        .heading-banner
            .custom-container.container
                .row.align-items-center
                    .col-sm-6
                        h4 Blog Left Sidebar
                    .col-sm-6
                        ul.breadcrumb.float-end
                            li.breadcrumb-item 
                                a(href="index.html") Home 
                            li.breadcrumb-item.active 
                                a(href="#") Blog Left Sidebar
    //-------- Main Section ---------//
    section.section-b-space.pt-0 
        .custom-container.container.blog-page
            .row.gy-4
                .col-xl-9.col-lg-8.ratio50_2
                    .row.gy-4.sticky 
                        .col-xl-4.col-sm-6 
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/1.jpg", alt="") 
                                .blog-content 
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/1.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/2.jpg", alt="") 
                                .blog-content
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/2.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/3.jpg", alt="") 
                                .blog-content 
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/3.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6 
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/4.jpg", alt="") 
                                .blog-content 
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/8.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/5.jpg", alt="") 
                                .blog-content
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/9.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/6.jpg", alt="") 
                                .blog-content 
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/10.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6 
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/7.jpg", alt="") 
                                .blog-content 
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/8.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/8.jpg", alt="") 
                                .blog-content
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/9.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .col-xl-4.col-sm-6
                            .blog-main-box
                                div
                                    .blog-img 
                                        img.img-fluid.bg-img(src="../assets/images/blog/blog-page/9.jpg", alt="") 
                                .blog-content 
                                    span.blog-date May 9, 2018 Stylish
                                    a(href="blog-details.html") 
                                        h4 How Black Trans Women Are Redefining Beauty Standards
                                    p Sed non mauris vitae erat consequat. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lom quis bibenm auctor
                                    .share-box
                                        div.d-flex.align-items-center.gap-2
                                            img.img-fluid(src="../assets/images/user/10.jpg", alt="")
                                            h6 by John wiki on
                                        a(href="blog-details.html")  Read More..
                        .pagination-wrap.mt-0
                            ul.pagination 
                                li 
                                    a.prev(href="#")
                                        i.iconsax(data-icon="chevron-left")
                                li 
                                    a(href="#") 1
                                li 
                                    a.active(href="#") 2
                                li 
                                    a(href="#") 3 
                                li 
                                    a.next(href="#") 
                                        i.iconsax(data-icon="chevron-right")

                .col-xl-3.col-lg-4.order-lg-first
                    .blog-sidebar 
                        .row.gy-4
                            .col-12     
                                .blog-search 
                                    input(type="search" placeholder="Search Here...")
                                    i.iconsax(data-icon="search-normal-2")
                            .col-12 
                                .sidebar-box
                                    .sidebar-title
                                        .loader-line
                                        h5  Categories
                                    ul.categories 
                                        li
                                            p Fashion
                                                span 30
                                        li 
                                            p Trends
                                                span 20
                                        li 
                                            p Designer
                                                span 3
                                        li 
                                            p Swimwear
                                                span 15
                                        li 
                                            p Handbags
                                                span 11
                            .col-12     
                                .sidebar-box
                                    .sidebar-title
                                        .loader-line
                                        h5  Top Post
                                    ul.top-post 
                                        li 
                                            img.img-fluid(src="../assets/images/other-img/blog-1.jpg", alt="")
                                            div 
                                                a(href="blog-details.html") 
                                                    h6 Study 2020: Fake Engagement is Only Half the Problem
                                                p September 28, 2021
                                        li 
                                            img.img-fluid(src="../assets/images/other-img/blog-2.jpg", alt="")
                                            div 
                                                a(href="blog-details.html") 
                                                    h6 Top 10 Interior Design in 2020 New York Business
                                                p September 28, 2021
                                        li 
                                            img.img-fluid(src="../assets/images/other-img/blog-3.jpg", alt="")
                                            div 
                                                a(href="blog-details.html") 
                                                    h6 Ecommerce Brands Tend to Create Strong Communities
                                                p September 28, 2021
                                        li 
                                            img.img-fluid(src="../assets/images/other-img/blog-4.jpg", alt="")
                                            div 
                                                a(href="blog-details.html") 
                                                    h6 What Do I Need to Make It in the World of Business?
                                                p September 28, 2021
                            .col-12     
                                .sidebar-box
                                    .sidebar-title
                                        .loader-line
                                        h5  Popular Tags
                                    ul.popular-tag 
                                        li 
                                            p T-shirt
                                        li 
                                            p Handbags 
                                        li 
                                            p Trends 
                                        li 
                                            p Fashion
                                        li 
                                            p Designer
                            .col-12     
                                .sidebar-box
                                    .sidebar-title
                                        .loader-line
                                        h5 Follow Us
                                    ul.social-icon
                                        li 
                                            a(href="https://www.facebook.com/" target="_blank")
                                                .icon
                                                    i.fa-brands.fa-facebook-f
                                                h6 Facebook
                                        li 
                                            a(href="https://www.instagram.com/" target="_blank")
                                                .icon
                                                    i.fa-brands.fa-instagram    
                                                h6 Instagram
                                        li 
                                            a(href="https://twitter.com/" target="_blank")
                                                .icon
                                                    i.fa-brands.fa-x-twitter
                                                h6 Twitter
                                        li 
                                            a(href="https://www.youtube.com/" target="_blank")
                                                .icon
                                                    i.fa-brands.fa-youtube
                                                h6 Youtube
                                        li 
                                            a(href="https://www.whatsapp.com/" target="_blank")
                                                .icon
                                                    i.fa-brands.fa-whatsapp
                                                h6 Whatsapp
                            .col-12.d-none.d-lg-block
                                .blog-offer-box 
                                    img.img-fluid(src="../assets/images/other-img/blog-offer.jpg", alt="")
    //-------- Footer Section ---------//
    footer.footer-layout-img 
        section.section-b-space.footer-1
            .custom-container.container
                .row 
                    .col-xl-3.col-lg-4.col-md-6
                        .footer-content
                            .footer-logo
                                a(href="index.html") 
                                    img.img-fluid(src="../assets/images/logo/logo-white-1.png" alt="Footer Logo")
                            ul 
                                li 
                                    i.iconsax(data-icon="location")
                                    h6 1418 Riverwood Drive, Suite 3245 Cottonwood, CA 96052, United States
                                li 
                                    i.iconsax(data-icon="phone-calling")
                                    h6 + 185659635
                                li 
                                    i.iconsax(data-icon="mail")
                                    h6 contact@katie.com
                    .col.offset-xl-1
                        .footer-content
                            div
                                .footer-title.d-md-block 
                                    h5 About Us
                                    ul.footer-details.accordion-hidden 
                                        li 
                                            a.nav(href="index.html") Home
                                        li 
                                            a.nav(href="collection-left-sidebar.html") Shop
                                        li 
                                            a.nav(href="about-us.html") About Us
                                        li 
                                            a.nav(href="blog-left-sidebar.html") Blog
                                        li 
                                            a.nav(href="contact.html") Contact
                    .col
                        .footer-content
                            div
                                .footer-title.d-md-block
                                    h5 New Categories
                                    ul.footer-details.accordion-hidden 
                                        li 
                                            a.nav(href="product-bundle.html") Latest Shoes
                                        li 
                                            a.nav(href="variant-radio.html") Branded Jeans
                                        li 
                                            a.nav(href="product.html") New Jackets
                                        li 
                                            a.nav(href="variant-images.html") Colorful Hoodies
                                        li 
                                            a.nav(href="variant-dropdown.html") Best Perfume
                    .col
                        .footer-content
                            div
                                .footer-title.d-md-block 
                                    h5 Get Help
                                    ul.footer-details.accordion-hidden 
                                        li 
                                            a.nav(href="order-success.html") Your Orders
                                        li 
                                            a.nav(href="dashboard.html") Your Account
                                        li 
                                            a.nav(href="order-tracking.html") Track Orders
                                        li 
                                            a.nav(href="wishlist.html") Your Wishlist
                                        li 
                                            a.nav(href="faq.html") Shopping FAQs
                    .col
                        .footer-content
                            div
                                .footer-title.d-md-block 
                                    h5 My Account
                                    ul.footer-details.accordion-hidden 
                                        li 
                                            a.nav(href="dashboard.html") My Account
                                        li 
                                            a.nav(href="login.html") Login/Register
                                        li 
                                            a.nav(href="cart.html") Cart
                                        li 
                                            a.nav(href="order-success.html") Order History
                                        li 
                                            a.nav(href="faq.html") Delivery FAQs
        .sub-footer 
            .custom-container.container
                .row 
                    .col-xl-6.col-md-6.col-sm-12
                        .footer-end
                            h6 2024 Copyright By Themeforest Powered By Pixelstrap 
                    .col-xl-6.col-md-6.col-sm-12
                        .payment-card-bottom
                            ul 
                                li 
                                    img(src="../assets/images/footer/discover.png" alt="")
                                li 
                                    img(src="../assets/images/footer/american.png" alt="")
                                li 
                                    img(src="../assets/images/footer/master.png" alt="")
                                li 
                                    img(src="../assets/images/footer/giro.png" alt="")
    
    #offcanvasRight.offcanvas.offcanvas-end.shopping-details(tabindex='-1' aria-labelledby='offcanvasRightLabel')
        .offcanvas-header
            h4#offcanvasRightLabel.offcanvas-title Shopping Cart
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        .offcanvas-body.theme-scrollbar
            ul.offcanvas-cart
                li 
                    a(href="#") 
                        img(src="../assets/images/cart/1.jpg", alt="") 
                    div 
                        h6.mb-0 Shirts Men's Clothing
                        p $35
                            del $40
                            span.btn-cart
                                | $
                                span#total.btn-cart__total 105
                        .btn-containter
                            .btn-control
                                button#btn-remove.btn-control__remove &minus;
                                .btn-control__quantity
                                    #quantity-previous 2
                                    #quantity-current 3
                                    #quantity-next 4
                                button#btn-add.btn-control__add +
                    i.iconsax.delete-icon(data-icon="trash")
                li 
                    a(href="#") 
                        img(src="../assets/images/cart/2.jpg", alt="") 
                    div 
                        h6.mb-0 Shirts Men's Clothing
                        p $35
                            del $40
                            span.btn-cart
                                | $
                                span#total1.btn-cart__total 105
                        .btn-containter
                            .btn-control
                                button#btn-remove1.btn-control__remove &minus;
                                .btn-control__quantity
                                    #quantity1-previous 2
                                    #quantity1-current 3
                                    #quantity1-next 4
                                button#btn-add1.btn-control__add +
                    i.iconsax.delete-icon(data-icon="trash")
                li 
                    a(href="#") 
                        img(src="../assets/images/cart/3.jpg", alt="") 
                    div 
                        h6.mb-0 Shirts Men's Clothing
                        p $35
                            del $40
                            span.btn-cart
                                | $
                                span#total2.btn-cart__total 105
                        .btn-containter
                            .btn-control
                                button#btn-remove2.btn-control__remove &minus;
                                .btn-control__quantity
                                    #quantity2-previous 2
                                    #quantity2-current 3
                                    #quantity2-next 4
                                button#btn-add2.btn-control__add +
                    i.iconsax.delete-icon(data-icon="trash")
                li 
                    a(href="#") 
                        img(src="../assets/images/cart/4.jpg", alt="") 
                    div 
                        h6.mb-0 Shirts Men's Clothing
                        p $35
                            del $40
                            span.btn-cart
                                | $
                                span#total3.btn-cart__total 105
                        .btn-containter
                            .btn-control
                                button#btn-remove3.btn-control__remove &minus;
                                .btn-control__quantity
                                    #quantity3-previous 2
                                    #quantity3-current 3
                                    #quantity3-next 4
                                button#btn-add3.btn-control__add +
                    i.iconsax.delete-icon(data-icon="trash")
        .offcanvas-footer
            p Spend 
                span $ 14.81  
                | more and enjoy  
                span FREE SHIPPING!
            .footer-range-slider
                .progress(role='progressbar' aria-label='Animated striped example' aria-valuenow='46' aria-valuemin='0' aria-valuemax='100')
                    .progress-bar.progress-bar-striped.progress-bar-animated.theme-default(style='width: 46%')
            .price-box  
                h6 Total :
                p $ 49.59 USD
            .cart-button 
                a.btn.btn_outline(href="cart.html")  View Cart
                a.btn.btn_black(href="check-out.html")  Checkout
   
    #offcanvasTop.offcanvas.offcanvas-top.search-details(tabindex='-1' aria-labelledby='offcanvasTopLabel')
        .offcanvas-header
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                i.fa-solid.fa-xmark
        .offcanvas-body.theme-scrollbar
            div.container
                h3 What are you trying to find?
                div.search-box 
                    input(type="search", name="text" placeholder="I'm looking for…")
                    i.iconsax(data-icon="search-normal-2")
                h4 Popular Searches
                ul.rapid-search
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Jeans Women
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Blazer Women
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Jeans Men
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Blazer Men
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | T-Shirts Men
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Shoes Men
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | T-Shirts Women
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Bags
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Sneakers Women
                    li 
                        a(href="collection-left-sidebar.html")
                            i.iconsax(data-icon="search-normal-2")
                            | Dresses
                h4 You Might Like
                .row.gy-4.ratio_square-2.preemptive-search  
                        .col-xl-2.col-sm-4.col-6  
                            .product-box-6
                                .img-wrapper
                                    .product-image
                                        a(href="product.html") 
                                            img.bg-img(src="../assets/images/product/product-2/blazers/1.jpg", alt="product")
                                .product-detail
                                    div
                                        a(href="product.html") 
                                            h6  Women's Stylish Top
                                        p $50.00 
                                        ul.rating       
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star-half-stroke
                                            li
                                                i.fa-regular.fa-star
                                            li 4+
                        .col-xl-2.col-sm-4.col-6  
                            .product-box-6
                                .img-wrapper
                                    .product-image
                                        a(href="product.html") 
                                            img.bg-img(src="../assets/images/product/product-2/blazers/2.jpg", alt="product")
                                .product-detail
                                    div
                                        a(href="product.html") 
                                            h6  Women's Stylish Top
                                        p $95.00 
                                            del $140.00
                                        ul.rating       
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star-half-stroke
                                            li
                                                i.fa-regular.fa-star
                                            li
                                                i.fa-regular.fa-star
                                            li 3+
                        .col-xl-2.col-sm-4.col-6  
                            .product-box-6
                                .img-wrapper
                                    .product-image
                                        a(href="product.html") 
                                            img.bg-img(src="../assets/images/product/product-2/blazers/3.jpg", alt="product")
                                .product-detail
                                    div
                                        a(href="product.html") 
                                            h6  Women's Stylish Top
                                        p $80.00 
                                            del $140.00
                                        ul.rating       
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star-half-stroke
                                            li
                                                i.fa-regular.fa-star
                                            li 4
                        .col-xl-2.col-sm-4.col-6  
                            .product-box-6
                                .img-wrapper
                                    .product-image
                                        a(href="product.html") 
                                            img.bg-img(src="../assets/images/product/product-2/blazers/4.jpg", alt="product")
                                .product-detail
                                    div
                                        a(href="product.html") 
                                            h6  Women's Stylish Top
                                        p $90.00 
                                        ul.rating       
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star-half-stroke
                                            li
                                                i.fa-regular.fa-star
                                            li 2+
                        .col-xl-2.col-sm-4.col-6  
                            .product-box-6
                                .img-wrapper
                                    .product-image
                                        a(href="product.html") 
                                            img.bg-img(src="../assets/images/product/product-2/blazers/5.jpg", alt="product")
                                .product-detail
                                    div
                                        a(href="product.html") 
                                            h6  Women's Stylish Top
                                        p $180.00 
                                            del $140.00
                                        ul.rating       
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star-half-stroke
                                            li
                                                i.fa-regular.fa-star
                                            li 4+
                        .col-xl-2.col-sm-4.col-6  
                            .product-box-6
                                .img-wrapper
                                    .product-image
                                        a(href="product.html") 
                                            img.bg-img(src="../assets/images/product/product-2/blazers/6.jpg", alt="product")
                                .product-detail
                                    a(href="product.html") 
                                        h6  Women's Stylish Top
                                    p $120.00 
                                    ul.rating       
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star
                                            li
                                                i.fa-solid.fa-star-half-stroke
                                            li
                                                i.fa-regular.fa-star
                                            li 4+
  

    //- Cookie Box -//
    .wrapper
        .title-box 
            img(src="../assets/images/other-img/cookie.png", alt="")
            h3 Cookies Consent
        .info
            p We use cookies to improve our site and your shopping experience. By continuing to browse our site you accept our cookie policy.
        .buttons
            button#acceptBtn.button.btn.btn_outline.sm Accept
            button.button.btn.btn_black.sm Decline
    
    //- 
    .theme-btns
        button#dark-btn.btntheme
            i.fa-regular.fa-moon
            .text Dark
            
        button#rtl-btn.btntheme.rtlBtnEl
            i.fa-solid.fa-repeat
            .rtl Rtl


    include ../../components/footer-files