// Bootstrap js
script(src='../assets/js/bootstrap/bootstrap.bundle.min.js')


// iconsax js 
script(src="../assets/js/iconsax.js") 

// cursor js
script(src="../assets/js/stats.min.js") 
script(src="../assets/js/cursor.js") 

if swiper_slider 
  script(src='../assets/js/swiper-slider/swiper-bundle.min.js')
  script(src='../assets/js/swiper-slider/swiper-custom.js')

if grid
    script(src='../assets/js/grid-option.js')
if popper
    script(src='../assets/js/bootstrap/popper.min.js')
if countdown
  script(src='../assets/js/countdown.js')
if filter_range_slider
  script(src='../assets/js/filter-range-slider.js')
if load_more
  script(src='../assets/js/load-more.js')
if cart_timer
  script(src='../assets/js/cart-timer.js')
if cart_table
  script(src='../assets/js/cart.js')  
if otp
  script(src='../assets/js/otp.js')
if collection_box
  script(src='../assets/js/collection-box.js')
if compare_table
  script(src='../assets/js/compare-table.js')
if dashboard_left
  script(src='../assets/js/dashboard-left-sidebar.js')
if zoom_img
  script(src='../assets/js/zoom-img.js')
if Newsletter
  script(src='../assets/js/newsletter.js')
if Skeleton_loder
  script(src='../assets/js/skeleton-loader.js')
  


// touchspin
script(src='../assets/js/touchspin.js')

// cookie js
script(src='../assets/js/cookie.js')

// tost js 
script(src='../assets/js/toastify.js')
//- Bootstrap
script(src='../assets/js/theme-setting.js')

// Theme js
script(src='../assets/js/script.js')


